Options +FollowSymLinks
Options +Indexes
RewriteEngine On  
RewriteBase /  
RewriteCond %{HTTP_HOST} !^neighbr.net$ [NC]
RewriteRule ^(.*)$ http://neighbr.net/$1 [L,R=301]
RewriteRule ^(.*)/$ neighbr.php?neighbr=$1 [L]
RewriteRule ^([0-9]+)$ index.php?pg=$1 [L]
RewriteRule ^share/(.*)$ share.php?type=$1 [L]
# RewriteRule ^images/(.*)$ image.php?name=$1 [L]
RewriteRule ^view/([0-9]+)$ view.php?id=$1 [L]
RewriteRule ^view/([0-9]+)/(.*)$ view.php?id=$1&title=$2 [L]
RewriteRule ^tags/(.*)$ index.php?tag=$1 [L]
RewriteRule ^add/(.*)$ user.php?befriend=$1 [L]
RewriteRule ^(.*)/feed$ rss.php?user=$1 [L]
RewriteRule ^feed rss.php [L]
RewriteRule ^settings settings.php?%{QUERY_STRING} [L]